<html>
    <head>
    </head>
    <body>
        <h1>Hi , {{username}} ,your token is {{token}} </h1>
        <p> Reset ur Password </p>
         <form action="/password_reset_mail/"  method="post">
        
        <label for="id_new_password">New Password:</label><input id="id_new_password" name="new_password" type="password" />
        <label for="id_confirm_new_password">Confirm New Password:</label><input id="id_confirm_new_password" name="confirm_new_password" type="password" />
        <label for="id_reset_token">Token:</label><input id="id_reset_token" name="reset_token" type="password" /> 
        
        <button class="btn btn-lg btn-primary " type="submit">Submit</button>
        <button type="cancel" onclick="loggedin">Cancel</button>
   </form>
    </body>
</html>
